---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navbar from "../../components/layout/Navbar.astro";
import Footer from "../../components/layout/Footer.astro";
import Projects from "../../components/sections/Projects.tsx";
---

<BaseLayout title="Projects | 김강남">
  <Navbar />
  <main class="pt-16 lg:pt-0">
    <Projects client:visible />
  </main>
  <Footer />
</BaseLayout>
